*{
    margin:0;
    padding:0;
}

html , body{
    height: 100%;
}

.container{
    height: 100%;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#playingBoard{
    margin: 0 auto;
    height: 90%;
    aspect-ratio: 1 / 1;
    background-color: #FFCF9F;
    box-sizing: border-box;
    border: 1px solid #36250b;
}

.row{
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-wrap: nowrap;
}

.col{
    width: 12.5%;
    height: 100%;
}

.bar{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
    text-align: center;
    height: 5%;
    font-size: 30px;
    width: fit-content;
    background-color: #634617;
    color: white;
    box-sizing: border-box;
    border: 1px solid #36250b;
}

.bar > img{
    height: 100%;
}


img{
   height: 100%;
}